body{height: auto;
  width: auto;

}       
header{
         height: 20%;
         width:100%;
         padding-top: 0%;
         padding-bottom: 0%;
         background-image:       linear-gradient(90deg, #025074, #008783,#018884,#009c8d);
        position: relative;
       }

      header #logo-scem{
        height: auto;
        width: 15%;
        border-radius: 50%;
        position: relative;
        left: 43%;
  justify-content: center
      }       
        header  #logo-rccm{
              height:auto ;
       width: 16%;
       border-radius: 90%;
       position: absolute;
       right: 10%;
       top: 4%;
       justify-content: right;
       
              }
            header  #logo-ifmsa{
                  height:auto;
           width: 12%;
           border-radius: 60%;
           position:absolute;
           left: 10%;
           top: 15%;
                  }
  


#nav{
         height: auto;
         width:auto;
         position: static;
       }
#carousel .img {
        height: 20%; 
        width: auto; 
       }
       

       #PIE{
        background: #2D2C55;
        color: white;
        width: auto;
        height: 20%;
        font-size: 54%;
      }
#mapa {
  height: auto;
  width: 100%;
  left: 1%;
}
      