body {
       height:100%;
        width: 100%; 
      }  
         #logo-scem{
           height: 200px;
           width: 200px;
           border-radius: 50%
          
         }

         
             #logo-rccm{
                 height: 200px;
          width: 200px;
          border-radius: 60%;
                 }
                 #logo-ifmsa{
                     height: 200px;
              width: 200px;
              border-radius: 60%;
                     }
       #PIE{
         background-color: #2d2c55;
         color: white;
         height: 10%;
         width: 100%;
       }
     
       #encabezado{
         height: 10%;
         width:100%;
         padding-left: 20%;
         padding-right: 20%;
         padding-top: 0%;
         padding-bottom: 0%;
         background-image:
       linear-gradient(90deg, #025074, #008783,#018884,#009c8d);
        
       }
       #nav{
         height: 5%;
         width:100%;
       }
       #cuerpo{
         height: 75%;
         width:100%;
       }